
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}


.container {
    text-align: center;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fortune-box {
    width: 500px;
    padding: 30px;
    border: 3px solid black;
    background-color: lightyellow;
}

#fortuneText {
    margin: 0;
    font-size: 18px;
    font-family: Georgia, serif;
    color: black;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    gap: 10px;
}

.color-button {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
}
.green-button {
    background-color: green;
}

.yellow-button {
    background-color: yellow;
}

.blue-button {
    background-color: blue;
}

.orange-button {
    background-color: orange;
}

